USE [model]
GO
/****** Object:  Table [dbo].[考生]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[考生](
	[考生ID] [int] NOT NULL,
	[考生类别] [varchar](20) NULL,
	[性别] [varchar](10) NULL,
	[生源地] [varchar](80) NULL,
	[个人简历] [varchar](1000) NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NULL,
	[用户ID] [int] NULL,
	[身份证号] [varchar](18) NULL,
	[毕业时间] [date] NULL,
	[出生日期] [date] NULL,
	[本科毕业学校名称] [varchar](30) NULL,
	[本科专业] [varchar](30) NULL,
	[本科毕业学校类型] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[考生ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[成绩]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[成绩](
	[数值] [float] NULL,
	[考生ID] [int] NOT NULL,
	[考试科目ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[考生ID] ASC,
	[考试科目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[考试科目]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[考试科目](
	[考试科目ID] [int] NOT NULL,
	[类别] [varchar](10) NOT NULL,
	[名称] [varchar](30) NOT NULL,
	[考试时间] [date] NOT NULL,
	[考试地点] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[考试科目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_考生初试信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_考生初试信息]
AS
SELECT 
    c.考生ID,
    ec.考试科目ID,
    ec.名称 AS 科目名称,
    ec.考试地点,
    ec.考试时间,
    s.数值 AS 初试成绩
FROM [dbo].[考生] c
JOIN [dbo].[成绩] s ON c.考生ID = s.考生ID
JOIN [dbo].[考试科目] ec ON s.考试科目ID = ec.考试科目ID
WHERE ec.类别 = '初试';
GO
/****** Object:  Table [dbo].[复试志愿]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[复试志愿](
	[志愿ID] [int] NOT NULL,
	[导师ID] [int] NULL,
	[考生ID] [int] NULL,
	[学科ID] [varchar](15) NULL,
	[志愿顺序] [int] NULL,
	[是否接受方向调整] [bit] NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NULL,
	[志愿状态] [varchar](20) NULL,
	[志愿ID_New] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[志愿ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[导师]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[导师](
	[导师ID] [int] NOT NULL,
	[照片路径] [varchar](50) NULL,
	[用户ID] [int] NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NULL,
	[是否具有招生资格] [bit] NULL,
	[简介] [varchar](1000) NULL,
	[职称] [varchar](50) NULL,
	[导师类别] [varchar](50) NULL,
	[审核状态] [varchar](20) NULL,
	[学院ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[导师ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_考生复试信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_考生复试信息]
AS
SELECT 
    fr.志愿ID,
    c.考生ID,
    fr.导师ID,
    fr.学科ID,
    fr.志愿顺序,
    fr.是否接受方向调整,
    ec.考试科目ID,
    ec.名称 AS 科目名称,
    s.数值 AS 复试成绩
FROM [dbo].[复试志愿] fr
JOIN [dbo].[考生] c ON fr.考生ID = c.考生ID
JOIN [dbo].[导师] d ON fr.导师ID = d.导师ID
JOIN [dbo].[成绩] s ON c.考生ID = s.考生ID
JOIN [dbo].[考试科目] ec ON s.考试科目ID = ec.考试科目ID
WHERE ec.类别 = '复试';
GO
/****** Object:  Table [dbo].[复试结果]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[复试结果](
	[复试结果ID] [int] NOT NULL,
	[考生ID] [int] NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NULL,
	[最终导师ID] [int] NULL,
	[录取状态] [varchar](20) NULL,
	[综合评价] [varchar](100) NULL,
	[待确认] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[复试结果ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_复试结果信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_复试结果信息]
AS
SELECT 
    rr.复试结果ID,
    c.考生ID,
    d.导师ID,
    rr.录取状态,
    rr.综合评价,
    rr.更新时间
FROM [dbo].[复试结果] rr
JOIN [dbo].[考生] c ON rr.考生ID = c.考生ID
JOIN [dbo].[导师] d ON rr.最终导师ID = d.导师ID;
GO
/****** Object:  Table [dbo].[学科]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[学科](
	[学科ID] [varchar](15) NOT NULL,
	[学科名称] [varchar](40) NULL,
	[学科等级] [varchar](10) NULL,
	[学科概述] [varchar](500) NULL,
	[学科类型] [varchar](20) NULL,
	[学科研究方向] [varchar](100) NULL,
	[上级学科] [varchar](40) NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NULL,
	[年度总招生指标] [varchar](20) NULL,
	[增补指标] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[学科ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_复试志愿信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_复试志愿信息]
AS
SELECT 
    rz.志愿ID,
    rz.考生ID,
    rz.导师ID,
    rz.学科ID,
    s.学科名称,
    rz.志愿顺序,
    rz.是否接受方向调整,
    rz.创建时间,
    rz.更新时间
FROM 
    [dbo].[复试志愿] AS rz
LEFT JOIN 
    [dbo].[考生] AS k ON rz.考生ID = k.考生ID
LEFT JOIN 
    [dbo].[导师] AS d ON rz.导师ID = d.导师ID
LEFT JOIN 
    [dbo].[学科] AS s ON rz.学科ID = s.学科ID;
GO
/****** Object:  View [dbo].[vw_录取结果信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_录取结果信息]
AS
SELECT 
    k.考生ID,
    rz.导师ID,
    rz.学科ID,
    s.学科名称,
    rz.志愿顺序,
    rr.录取状态,
    rr.综合评价,
    rr.更新时间 AS 录取更新时间
FROM 
    [dbo].[考生] AS k
LEFT JOIN 
    [dbo].[复试志愿] AS rz ON k.考生ID = rz.考生ID
LEFT JOIN 
    [dbo].[导师] AS d ON rz.导师ID = d.导师ID
LEFT JOIN 
    [dbo].[复试结果] AS rr ON k.考生ID = rr.考生ID
LEFT JOIN 
    [dbo].[学科] AS s ON rz.学科ID = s.学科ID;
GO
/****** Object:  View [dbo].[vw_考生综合信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_考生综合信息]
AS
SELECT 
    k.考生ID,
    k.性别,
    k.考生类别,
    rz.导师ID,
    rz.学科ID,
    s.学科名称,
    rz.志愿顺序,
    rr.录取状态,
    rr.综合评价,
    rr.更新时间 AS 录取更新时间
FROM 
    [dbo].[考生] AS k
LEFT JOIN 
    [dbo].[复试志愿] AS rz ON k.考生ID = rz.考生ID
LEFT JOIN 
    [dbo].[导师] AS d ON rz.导师ID = d.导师ID
LEFT JOIN 
    [dbo].[复试结果] AS rr ON k.考生ID = rr.考生ID
LEFT JOIN 
    [dbo].[学科] AS s ON rz.学科ID = s.学科ID;
GO
/****** Object:  View [dbo].[vw_学科信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_学科信息]
AS
SELECT 
    学科ID,
    学科名称,
    学科研究方向,
    学科概述,
    更新时间
FROM 
    [dbo].[学科];
GO
/****** Object:  Table [dbo].[包含3]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[包含3](
	[招生目录ID] [int] NOT NULL,
	[招生目录条目ID] [int] NOT NULL,
 CONSTRAINT [PK_包含3] PRIMARY KEY CLUSTERED 
(
	[招生目录ID] ASC,
	[招生目录条目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[招生目录]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[招生目录](
	[招生目录ID] [int] NOT NULL,
	[招生年度] [int] NOT NULL,
	[是否通过学校审核] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[招生目录ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[招生目录条目]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[招生目录条目](
	[招生目录条目ID] [int] NOT NULL,
	[年份] [int] NULL,
	[学院ID] [int] NULL,
	[创建时间] [datetime] NULL,
	[更新时间] [datetime] NULL,
	[是否招收同等学力] [bit] NULL,
	[学科ID] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[招生目录条目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_招生目录与条目信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_招生目录与条目信息] AS
SELECT 
    a.招生目录ID,
    a.是否通过学校审核,  
    b.招生目录条目ID,
    b.学院ID    
FROM 
    dbo.招生目录 a
JOIN 
    dbo.包含3 c ON a.招生目录ID = c.招生目录ID
JOIN 
    dbo.招生目录条目 b ON c.招生目录条目ID = b.招生目录条目ID;
GO
/****** Object:  Table [dbo].[角色]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[角色](
	[角色ID] [int] NOT NULL,
	[角色名称] [varchar](20) NOT NULL,
	[角色描述] [varchar](150) NULL,
	[角色权限] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[角色ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[用户]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[用户](
	[用户ID] [int] NOT NULL,
	[用户名] [varchar](20) NOT NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NOT NULL,
	[角色ID] [int] NULL,
	[邮箱] [varchar](50) NULL,
	[手机号] [varchar](50) NULL,
	[姓名] [varchar](20) NULL,
	[密码] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[用户ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[作为]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[作为](
	[用户ID] [int] NOT NULL,
	[角色ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[用户ID] ASC,
	[角色ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_用户角色信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_用户角色信息]
AS
SELECT 
    u.用户ID,
    u.用户名,
    r.角色ID,
    r.角色名称
FROM 
    [dbo].[用户] AS u
JOIN 
    [dbo].[作为] AS a ON u.用户ID = a.用户ID
JOIN 
    [dbo].[角色] AS r ON a.角色ID = r.角色ID;
GO
/****** Object:  Table [dbo].[拥有]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[拥有](
	[考生ID] [int] NOT NULL,
	[总成绩ID] [int] NOT NULL,
	[类型] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[考生ID] ASC,
	[总成绩ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[总成绩]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[总成绩](
	[总成绩ID] [int] NOT NULL,
	[类别] [varchar](10) NOT NULL,
	[总分数值] [float] NOT NULL,
	[更新时间] [datetime] NULL,
	[创建时间] [datetime] NULL,
	[考生ID] [int] NULL,
 CONSTRAINT [PK__总成绩__01F15EBD51D7DA78] PRIMARY KEY CLUSTERED 
(
	[总成绩ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_考生与总成绩信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_考生与总成绩信息] AS
SELECT 
    c.考生ID,
    c.考生类别,
    c.性别,
    c.毕业时间,
    c.出生日期,
    t.总成绩ID,
    t.类别 AS 总成绩类别,
    t.总分数值 AS 总分
FROM 
    dbo.考生 c
JOIN 
    dbo.拥有 h ON c.考生ID = h.考生ID
JOIN 
    dbo.总成绩 t ON h.总成绩ID = t.总成绩ID;
GO
/****** Object:  View [dbo].[vw_学科负责人信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_学科负责人信息]
AS
SELECT 
    u.用户ID AS 负责人用户ID,
    u.用户名 AS 负责人姓名,
    r.角色名称
FROM 
    [dbo].[用户] AS u
LEFT JOIN 
    [dbo].[角色] AS r ON u.角色ID = r.角色ID
WHERE 
    r.角色名称 = '学科负责人';
GO
/****** Object:  View [dbo].[v_成绩考试科目与考生信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_成绩考试科目与考生信息] AS
SELECT 
    c.考生ID,
    g.考试科目ID,
    g.类别 AS 科目类别,
    g.名称 AS 科目名称,
    g.考试时间,
    g.考试地点,
    s.数值 AS 科目成绩
FROM 
    dbo.成绩 s
JOIN 
    dbo.考试科目 g ON s.考试科目ID = g.考试科目ID
JOIN 
    dbo.考生 c ON s.考生ID = c.考生ID;
GO
/****** Object:  Table [dbo].[确定]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[确定](
	[复试结果ID] [int] NOT NULL,
	[导师ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[复试结果ID] ASC,
	[导师ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[填报]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[填报](
	[考生ID] [int] NULL,
	[志愿ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[志愿ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_考生复试志愿与复试结果]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_考生复试志愿与复试结果] AS
SELECT DISTINCT
    c.考生ID,
    r.志愿ID,
    r.学科ID,
    rs.综合评价,
    rs.录取状态,
	q.导师ID
FROM 
    dbo.考生 c
JOIN 
    dbo.填报 t ON c.考生ID = t.考生ID
JOIN 
    dbo.复试志愿 r ON t.考生ID = r.考生ID
JOIN 
    dbo.复试结果 rs ON c.考生ID = rs.考生ID
JOIN 
    dbo.确定 q ON rs.复试结果ID = q.复试结果ID
JOIN 
    dbo.导师 d ON q.导师ID = q.导师ID;
GO
/****** Object:  Table [dbo].[从属]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[从属](
	[导师ID] [int] NOT NULL,
	[学科ID] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[导师ID] ASC,
	[学科ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[学院]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[学院](
	[学院ID] [int] NOT NULL,
	[学院名称] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[学院ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[属于]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[属于](
	[导师ID] [int] NOT NULL,
	[学院ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[导师ID] ASC,
	[学院ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_导师学科学院信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_导师学科学院信息] AS
SELECT DISTINCT
    d.导师ID,
    d.职称,
    a.学科ID,
    d.学院ID,
    a.学科名称 AS 学科名称,
    e.学院名称 AS 学院名称
FROM dbo.导师 d
JOIN dbo.从属 s ON d.导师ID = s.导师ID
JOIN dbo.学科 a ON s.学科ID = a.学科ID
JOIN dbo.属于 c ON d.学院ID = c.学院ID
JOIN dbo.学院 e ON c.学院ID = e.学院ID;
GO
/****** Object:  View [dbo].[vw_复试结果统计视图]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_复试结果统计视图]
AS
SELECT 
    r.录取状态,
    COUNT(*) AS 考生数量
FROM 
    复试结果 r
GROUP BY 
    r.录取状态;
GO
/****** Object:  View [dbo].[vw_考生复试审核明细视图]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_考生复试审核明细视图]
AS
SELECT 
    c.考生ID,
    r.复试结果ID,
    r.录取状态,
    r.综合评价 AS 审核意见,
    r.更新时间 AS 审核更新时间
FROM 
    复试结果 r
JOIN 
    考生 c ON r.考生ID = c.考生ID
WHERE 
    r.录取状态 IS NOT NULL;
GO
/****** Object:  View [dbo].[vw_考生复试志愿与导师信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_考生复试志愿与导师信息]
AS
SELECT 
    c.考生ID,
    r.志愿顺序,
    r.是否接受方向调整,
    d.导师ID,
    fr.录取状态,
    fr.综合评价 AS 复试评价,
    fr.更新时间 AS 录取更新时间
FROM 
    复试志愿 r
JOIN 
    考生 c ON r.考生ID = c.考生ID  -- 关联考生信息
JOIN 
    导师 d ON r.导师ID = d.导师ID  -- 关联导师信息
LEFT JOIN 
    复试结果 fr ON r.考生ID = fr.考生ID AND r.导师ID = fr.最终导师ID  -- 获取复试结果信息，按考生ID和导师ID匹配
GO
/****** Object:  View [dbo].[vw_学科秘书复试结果待确认]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_学科秘书复试结果待确认]
AS
SELECT 
    fr.复试结果ID,
    fr.考生ID,
    fr.最终导师ID,
    fr.待确认,
    fr.更新时间 AS 最后更新时间
FROM 
    复试结果 fr
left JOIN 
    考生 c ON fr.考生ID = c.考生ID  -- 获取考生信息
left JOIN 
    导师 d ON fr.最终导师ID = d.导师ID  -- 获取导师信息
WHERE 
    fr.待确认 is NULL;  -- 筛选待确认的复试结果
GO
/****** Object:  View [dbo].[vw_导师复试结果与志愿选择]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_导师复试结果与志愿选择]
AS
SELECT 
    r.导师ID,
    r.考生ID,
    r.志愿顺序,
    r.是否接受方向调整,
    fr.录取状态,
    fr.综合评价 AS 复试评价
FROM 
    复试志愿 r
JOIN 
    考生 c ON r.考生ID = c.考生ID  -- 获取考生信息
JOIN 
    导师 d ON r.导师ID = d.导师ID  -- 获取导师信息
LEFT JOIN 
    复试结果 fr ON r.考生ID = fr.考生ID AND r.导师ID = fr.最终导师ID;  -- 获取复试结果
GO
/****** Object:  View [dbo].[vw_考生选择全过程]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_考生选择全过程] AS
SELECT 
    考生.考生ID, 
    考生.考生类别,
    复试志愿.导师ID,  
    复试志愿.志愿顺序, 
    复试志愿.是否接受方向调整, 
    复试结果.录取状态, 
    复试结果.综合评价,
    复试结果.更新时间 AS 最后更新时间
FROM 考生
LEFT JOIN 复试志愿 ON 考生.考生ID = 复试志愿.考生ID
LEFT JOIN 导师 ON 复试志愿.导师ID = 导师.导师ID
LEFT JOIN 复试结果 ON 考生.考生ID = 复试结果.考生ID;
GO
/****** Object:  View [dbo].[vw_学科秘书复试审核情况]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_学科秘书复试审核情况]
AS
SELECT 
    fr.复试结果ID,
    fr.考生ID,
    r.导师ID,
    fr.待确认,
    fr.录取状态,
    fr.综合评价 AS 复试评价,
    fr.更新时间 AS 审核更新时间
FROM 
    复试结果 fr
JOIN 
    考生 c ON fr.考生ID = c.考生ID  -- 获取考生信息
JOIN 
    导师 d ON fr.最终导师ID = d.导师ID  -- 获取导师信息
JOIN 
    复试志愿 r ON r.考生ID = fr.考生ID AND r.导师ID = fr.最终导师ID  -- 获取复试志愿
WHERE 
    fr.待确认 = 1;  -- 筛选待确认的复试结果
GO
/****** Object:  View [dbo].[v_导师确认学生]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_导师确认学生]
AS
SELECT 
    d.导师ID, 
    s.考生ID, 
    s.性别,
    s.生源地,
    rs.录取状态
FROM [education].[dbo].[确定] d

JOIN [education].[dbo].[复试结果] rs ON d.复试结果ID = rs.复试结果ID 
JOIN [education].[dbo].[考生] s ON s.考生ID = rs.考生ID;
GO
/****** Object:  View [dbo].[v_导师选择结果]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_导师选择结果]
AS
SELECT 
    r.导师ID, 
    c.考生ID,  
    r.志愿顺序, 
    fr.录取状态, 
    fr.综合评价
FROM [education].[dbo].[复试志愿] r
JOIN [education].[dbo].[考生] c ON r.考生ID = c.考生ID
LEFT JOIN [education].[dbo].[复试结果] fr ON fr.考生ID = c.考生ID AND fr.最终导师ID = r.导师ID;
GO
/****** Object:  View [dbo].[v_导师选择学生]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_导师选择学生]
AS
SELECT 
    r.导师ID, 
    r.考生ID,
    s.姓名 AS 考生姓名,
    r.志愿顺序,
    r.是否接受方向调整,
    fr.录取状态,
    fr.综合评价
FROM [education].[dbo].[复试志愿] r
left JOIN [education].[dbo].[考生] c ON r.考生ID = c.考生ID
left join [education].[dbo].[对应2] cs on cs.考生ID=c.考生ID
left join [education].[dbo].[用户] s on s.用户ID=cs.用户ID
LEFT JOIN [education].[dbo].[复试结果] fr ON fr.考生ID = r.考生ID AND fr.最终导师ID = r.导师ID;
GO
/****** Object:  View [dbo].[v_复试结果]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_复试结果]
AS
SELECT
    复试结果.考生ID,
    复试结果.录取状态,
    复试结果.综合评价,
    复试结果.更新时间 AS 最后更新时间
FROM [education].[dbo].[复试结果];
GO
/****** Object:  View [dbo].[v_复试志愿]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_复试志愿]
AS
SELECT
    复试志愿.考生ID,
    复试志愿.导师ID,
    复试志愿.志愿顺序,
    复试志愿.是否接受方向调整
FROM [education].[dbo].[复试志愿];
GO
/****** Object:  View [dbo].[v_复试志愿详细信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_复试志愿详细信息]
AS
SELECT 
    r.考生ID,
    r.导师ID,
    r.志愿顺序,
    r.是否接受方向调整,
    c.性别,
    c.生源地
FROM [education].[dbo].[复试志愿] r
JOIN [education].[dbo].[考生] c ON r.考生ID = c.考生ID;
GO
/****** Object:  View [dbo].[v_考生基本信息]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_考生基本信息]
AS
SELECT 
    考生ID,
    考生类别
FROM [education].[dbo].[考生];
GO
/****** Object:  Table [dbo].[包含1]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[包含1](
	[志愿ID] [int] NOT NULL,
	[学科ID] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[志愿ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[包含2]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[包含2](
	[考试科目ID] [int] NOT NULL,
	[招生目录条目ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[考试科目ID] ASC,
	[招生目录条目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[编制]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[编制](
	[学院ID] [int] NOT NULL,
	[招生目录条目ID] [int] NOT NULL,
 CONSTRAINT [PK_编制] PRIMARY KEY CLUSTERED 
(
	[学院ID] ASC,
	[招生目录条目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[对应1]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[对应1](
	[导师ID] [int] NOT NULL,
	[用户ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[导师ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[对应2]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[对应2](
	[考生ID] [int] NOT NULL,
	[用户ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[考生ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[获得]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[获得](
	[考生ID] [int] NOT NULL,
	[复试结果ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[考生ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[具有]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[具有](
	[学科ID] [varchar](15) NOT NULL,
	[招生目录条目ID] [int] NOT NULL,
 CONSTRAINT [PK_具有] PRIMARY KEY CLUSTERED 
(
	[学科ID] ASC,
	[招生目录条目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[选择]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[选择](
	[志愿ID] [int] NOT NULL,
	[导师ID] [int] NOT NULL,
 CONSTRAINT [PK_选择] PRIMARY KEY CLUSTERED 
(
	[志愿ID] ASC,
	[导师ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[包含1] ([志愿ID], [学科ID]) VALUES (1, N'070503-01')
INSERT [dbo].[包含1] ([志愿ID], [学科ID]) VALUES (4, N'070503-01')
INSERT [dbo].[包含1] ([志愿ID], [学科ID]) VALUES (5, N'070503-01')
GO
INSERT [dbo].[包含2] ([考试科目ID], [招生目录条目ID]) VALUES (3, 3)
INSERT [dbo].[包含2] ([考试科目ID], [招生目录条目ID]) VALUES (4, 4)
INSERT [dbo].[包含2] ([考试科目ID], [招生目录条目ID]) VALUES (5, 5)
GO
INSERT [dbo].[包含3] ([招生目录ID], [招生目录条目ID]) VALUES (3, 3)
INSERT [dbo].[包含3] ([招生目录ID], [招生目录条目ID]) VALUES (3, 25)
INSERT [dbo].[包含3] ([招生目录ID], [招生目录条目ID]) VALUES (4, 4)
GO
INSERT [dbo].[编制] ([学院ID], [招生目录条目ID]) VALUES (2, 3)
INSERT [dbo].[编制] ([学院ID], [招生目录条目ID]) VALUES (3, 4)
INSERT [dbo].[编制] ([学院ID], [招生目录条目ID]) VALUES (3, 5)
GO
INSERT [dbo].[成绩] ([数值], [考生ID], [考试科目ID]) VALUES (76, 2, 11)
INSERT [dbo].[成绩] ([数值], [考生ID], [考试科目ID]) VALUES (83, 2, 12)
INSERT [dbo].[成绩] ([数值], [考生ID], [考试科目ID]) VALUES (79, 2, 13)
GO
INSERT [dbo].[从属] ([导师ID], [学科ID]) VALUES (1, N'070503-01')
INSERT [dbo].[从属] ([导师ID], [学科ID]) VALUES (17, N'070503-01')
INSERT [dbo].[从属] ([导师ID], [学科ID]) VALUES (18, N'070503-01')
GO
INSERT [dbo].[导师] ([导师ID], [照片路径], [用户ID], [更新时间], [创建时间], [是否具有招生资格], [简介], [职称], [导师类别], [审核状态], [学院ID]) VALUES (1, N'path/to/photo1.jpg', 28, CAST(N'2024-11-07T13:38:41.867' AS DateTime), CAST(N'2024-11-06T12:44:34.787' AS DateTime), 1, N'从事人工智能与机器学习研究', N'教授', N'博士生导师', N'已通过', N'1')
INSERT [dbo].[导师] ([导师ID], [照片路径], [用户ID], [更新时间], [创建时间], [是否具有招生资格], [简介], [职称], [导师类别], [审核状态], [学院ID]) VALUES (3, N'path/to/photo3.jpg', 30, CAST(N'2024-11-06T12:44:34.787' AS DateTime), CAST(N'2024-11-06T12:44:34.787' AS DateTime), 1, N'讲师，专注于土壤学与环境保护的研究。', N'讲师', N'博士生导师', N'正在进行', N'2')
INSERT [dbo].[导师] ([导师ID], [照片路径], [用户ID], [更新时间], [创建时间], [是否具有招生资格], [简介], [职称], [导师类别], [审核状态], [学院ID]) VALUES (4, N'path/to/photo4.jpg', 31, CAST(N'2024-11-06T12:44:34.787' AS DateTime), CAST(N'2024-11-06T12:44:34.787' AS DateTime), 1, N'副教授，研究土壤资源与环境的可持续发展。', N'副教授', N'硕士生导师', N'未通过', N'2')
GO
INSERT [dbo].[对应1] ([导师ID], [用户ID]) VALUES (1, 28)
INSERT [dbo].[对应1] ([导师ID], [用户ID]) VALUES (3, 30)
INSERT [dbo].[对应1] ([导师ID], [用户ID]) VALUES (4, 31)
GO
INSERT [dbo].[对应2] ([考生ID], [用户ID]) VALUES (102, 89)
GO
INSERT [dbo].[复试结果] ([复试结果ID], [考生ID], [更新时间], [创建时间], [最终导师ID], [录取状态], [综合评价], [待确认]) VALUES (3, 3, CAST(N'2024-11-06T16:07:02.653' AS DateTime), CAST(N'2024-11-06T16:07:02.653' AS DateTime), NULL, N'未录取', N'未通过复试', NULL)
INSERT [dbo].[复试结果] ([复试结果ID], [考生ID], [更新时间], [创建时间], [最终导师ID], [录取状态], [综合评价], [待确认]) VALUES (4, 4, CAST(N'2024-11-06T16:07:02.653' AS DateTime), CAST(N'2024-11-06T16:07:02.653' AS DateTime), 10, N'待审核', N'面试表现一般，成绩有待提高', NULL)
INSERT [dbo].[复试结果] ([复试结果ID], [考生ID], [更新时间], [创建时间], [最终导师ID], [录取状态], [综合评价], [待确认]) VALUES (5, 5, CAST(N'2024-11-06T16:07:02.653' AS DateTime), CAST(N'2024-11-06T16:07:02.653' AS DateTime), 35, N'已录取', N'优秀的学术背景和研究能力', NULL)
GO
SET IDENTITY_INSERT [dbo].[复试志愿] ON 

INSERT [dbo].[复试志愿] ([志愿ID], [导师ID], [考生ID], [学科ID], [志愿顺序], [是否接受方向调整], [更新时间], [创建时间], [志愿状态], [志愿ID_New]) VALUES (1, 22, 101, N'070503-01', 1, 1, CAST(N'2024-11-10T18:05:29.297' AS DateTime), CAST(N'2024-11-10T18:05:29.297' AS DateTime), NULL, 1041)
INSERT [dbo].[复试志愿] ([志愿ID], [导师ID], [考生ID], [学科ID], [志愿顺序], [是否接受方向调整], [更新时间], [创建时间], [志愿状态], [志愿ID_New]) VALUES (4, 21, 2, N'070503-01', 1, 0, CAST(N'2024-11-07T14:14:55.140' AS DateTime), CAST(N'2024-11-06T16:03:14.443' AS DateTime), N'待导师确认', 4)
INSERT [dbo].[复试志愿] ([志愿ID], [导师ID], [考生ID], [学科ID], [志愿顺序], [是否接受方向调整], [更新时间], [创建时间], [志愿状态], [志愿ID_New]) VALUES (5, 22, 2, N'070503-01', 2, 1, CAST(N'2024-11-07T14:14:55.140' AS DateTime), CAST(N'2024-11-06T16:03:14.443' AS DateTime), N'待导师确认', 5)
SET IDENTITY_INSERT [dbo].[复试志愿] OFF
GO
INSERT [dbo].[获得] ([考生ID], [复试结果ID]) VALUES (3, 3)
INSERT [dbo].[获得] ([考生ID], [复试结果ID]) VALUES (4, 4)
INSERT [dbo].[获得] ([考生ID], [复试结果ID]) VALUES (5, 5)
GO
INSERT [dbo].[角色] ([角色ID], [角色名称], [角色描述], [角色权限]) VALUES (1, N'管理员', N'系统管理员，拥有所有权限', 15)
INSERT [dbo].[角色] ([角色ID], [角色名称], [角色描述], [角色权限]) VALUES (2, N'导师', N'导师维护个人简介等信息。导师在志愿选择阶段确认选择的学生。导师查看整体选择结果。', 10)
INSERT [dbo].[角色] ([角色ID], [角色名称], [角色描述], [角色权限]) VALUES (3, N'考生', N'可以查看个人报考信息和导师志愿、复试录取结果', 5)
GO
INSERT [dbo].[具有] ([学科ID], [招生目录条目ID]) VALUES (N'071002', 3)
INSERT [dbo].[具有] ([学科ID], [招生目录条目ID]) VALUES (N'071002-01', 3)
INSERT [dbo].[具有] ([学科ID], [招生目录条目ID]) VALUES (N'071002-02', 3)
GO
INSERT [dbo].[考生] ([考生ID], [考生类别], [性别], [生源地], [个人简历], [更新时间], [创建时间], [用户ID], [身份证号], [毕业时间], [出生日期], [本科毕业学校名称], [本科专业], [本科毕业学校类型]) VALUES (2, N'往届生', N'女', N'上海市', N'工作经验丰富，曾参与多个项目。', NULL, CAST(N'2024-11-06T10:44:11.330' AS DateTime), 2, N'310101199002022345', CAST(N'2023-06-30' AS Date), CAST(N'1990-02-02' AS Date), N'复旦大学', N'电子工程', N'普通本科大学')
INSERT [dbo].[考生] ([考生ID], [考生类别], [性别], [生源地], [个人简历], [更新时间], [创建时间], [用户ID], [身份证号], [毕业时间], [出生日期], [本科毕业学校名称], [本科专业], [本科毕业学校类型]) VALUES (3, N'同等学力', N'男', N'广东省', N'本科成绩优异，拥有相关职业资格证书。', NULL, CAST(N'2024-11-06T10:44:11.330' AS DateTime), 4, N'440101199003033456', CAST(N'2022-06-30' AS Date), CAST(N'1990-03-03' AS Date), N'中山大学', N'土木工程', N'普通本科大学')
INSERT [dbo].[考生] ([考生ID], [考生类别], [性别], [生源地], [个人简历], [更新时间], [创建时间], [用户ID], [身份证号], [毕业时间], [出生日期], [本科毕业学校名称], [本科专业], [本科毕业学校类型]) VALUES (4, N'定向生', N'女', N'北京市', N'在校期间担任班级干部，表现突出。', NULL, CAST(N'2024-11-06T10:44:11.330' AS DateTime), 5, N'110101199004044567', CAST(N'2025-06-30' AS Date), CAST(N'1990-04-04' AS Date), N'北京师范大学', N'教育学', N'普通本科大学')
GO
INSERT [dbo].[考试科目] ([考试科目ID], [类别], [名称], [考试时间], [考试地点]) VALUES (2, N'初试', N'201 英语一', CAST(N'2024-01-02' AS Date), N'地点B')
INSERT [dbo].[考试科目] ([考试科目ID], [类别], [名称], [考试时间], [考试地点]) VALUES (3, N'初试', N'715 数理统计', CAST(N'2024-01-03' AS Date), N'地点C')
INSERT [dbo].[考试科目] ([考试科目ID], [类别], [名称], [考试时间], [考试地点]) VALUES (4, N'复试', N'101 思想政治理论', CAST(N'2024-02-01' AS Date), N'地点D')
GO
INSERT [dbo].[确定] ([复试结果ID], [导师ID]) VALUES (3, 10)
INSERT [dbo].[确定] ([复试结果ID], [导师ID]) VALUES (4, 35)
INSERT [dbo].[确定] ([复试结果ID], [导师ID]) VALUES (5, 3)
GO
INSERT [dbo].[属于] ([导师ID], [学院ID]) VALUES (1, 1)
INSERT [dbo].[属于] ([导师ID], [学院ID]) VALUES (3, 2)
INSERT [dbo].[属于] ([导师ID], [学院ID]) VALUES (4, 2)
GO
INSERT [dbo].[填报] ([考生ID], [志愿ID]) VALUES (101, 1)
INSERT [dbo].[填报] ([考生ID], [志愿ID]) VALUES (2, 4)
INSERT [dbo].[填报] ([考生ID], [志愿ID]) VALUES (2, 5)
GO
INSERT [dbo].[选择] ([志愿ID], [导师ID]) VALUES (1, 22)
INSERT [dbo].[选择] ([志愿ID], [导师ID]) VALUES (4, 21)
INSERT [dbo].[选择] ([志愿ID], [导师ID]) VALUES (5, 22)
GO
INSERT [dbo].[学科] ([学科ID], [学科名称], [学科等级], [学科概述], [学科类型], [学科研究方向], [上级学科], [更新时间], [创建时间], [年度总招生指标], [增补指标]) VALUES (N'070503', N'地图学与地理信息系统', N'一级学科', N'与地图及信息系统相关', N'学术型学科', N'地理信息学', NULL, CAST(N'2024-11-06T12:08:28.047' AS DateTime), CAST(N'2024-11-06T12:08:28.047' AS DateTime), N'80', N'15')
INSERT [dbo].[学科] ([学科ID], [学科名称], [学科等级], [学科概述], [学科类型], [学科研究方向], [上级学科], [更新时间], [创建时间], [年度总招生指标], [增补指标]) VALUES (N'070503-01', N'3S 技术集成开发与应用', N'二级学科', N'研究智能制造相关技术', N'学术型学科', N'智能制造', N'地图学与地理信息系统', CAST(N'2024-11-07T14:57:31.807' AS DateTime), CAST(N'2024-11-06T12:36:55.693' AS DateTime), N'6', N'3')
INSERT [dbo].[学科] ([学科ID], [学科名称], [学科等级], [学科概述], [学科类型], [学科研究方向], [上级学科], [更新时间], [创建时间], [年度总招生指标], [增补指标]) VALUES (N'071001', N'植物学', N'一级学科', N'植物学科相关研究', N'学术型学科', N'植物科学、植物生物学等', NULL, CAST(N'2024-11-06T12:08:28.047' AS DateTime), CAST(N'2024-11-06T12:08:28.047' AS DateTime), N'90', N'18')
GO
INSERT [dbo].[学院] ([学院ID], [学院名称]) VALUES (1, N'林学院')
INSERT [dbo].[学院] ([学院ID], [学院名称]) VALUES (2, N'生物科学与技术学院')
INSERT [dbo].[学院] ([学院ID], [学院名称]) VALUES (3, N'工学院')
GO
INSERT [dbo].[拥有] ([考生ID], [总成绩ID], [类型]) VALUES (2, 3, NULL)
INSERT [dbo].[拥有] ([考生ID], [总成绩ID], [类型]) VALUES (2, 4, NULL)
INSERT [dbo].[拥有] ([考生ID], [总成绩ID], [类型]) VALUES (3, 5, N'初试')
GO
INSERT [dbo].[用户] ([用户ID], [用户名], [更新时间], [创建时间], [角色ID], [邮箱], [手机号], [姓名], [密码]) VALUES (1, N'admin', NULL, CAST(N'2024-11-06T10:37:31.993' AS DateTime), 1, N'admin@example.com', N'13800138000', N'张三', N'password123')
INSERT [dbo].[用户] ([用户ID], [用户名], [更新时间], [创建时间], [角色ID], [邮箱], [手机号], [姓名], [密码]) VALUES (2, N'mentor1', NULL, CAST(N'2024-11-06T10:37:31.993' AS DateTime), 2, N'mentor1@example.com', N'13800138001', N'李四', N'password456')
INSERT [dbo].[用户] ([用户ID], [用户名], [更新时间], [创建时间], [角色ID], [邮箱], [手机号], [姓名], [密码]) VALUES (4, N'subjecthead1', NULL, CAST(N'2024-11-06T10:37:31.993' AS DateTime), 4, N'subjecthead1@example.com', N'13800138003', N'赵六', N'password101')
GO
INSERT [dbo].[招生目录] ([招生目录ID], [招生年度], [是否通过学校审核]) VALUES (3, 2022, 0)
INSERT [dbo].[招生目录] ([招生目录ID], [招生年度], [是否通过学校审核]) VALUES (4, 2021, 1)
INSERT [dbo].[招生目录] ([招生目录ID], [招生年度], [是否通过学校审核]) VALUES (5, 2020, 0)
GO
INSERT [dbo].[招生目录条目] ([招生目录条目ID], [年份], [学院ID], [创建时间], [更新时间], [是否招收同等学力], [学科ID]) VALUES (3, 2024, 2, CAST(N'2024-11-06T13:54:29.407' AS DateTime), CAST(N'2024-11-06T13:54:29.407' AS DateTime), 1, N'090301')
INSERT [dbo].[招生目录条目] ([招生目录条目ID], [年份], [学院ID], [创建时间], [更新时间], [是否招收同等学力], [学科ID]) VALUES (4, 2024, 3, CAST(N'2024-11-06T13:54:29.407' AS DateTime), CAST(N'2024-11-06T13:54:29.407' AS DateTime), 1, N'090703')
INSERT [dbo].[招生目录条目] ([招生目录条目ID], [年份], [学院ID], [创建时间], [更新时间], [是否招收同等学力], [学科ID]) VALUES (5, 2024, 3, CAST(N'2024-11-06T13:54:29.407' AS DateTime), CAST(N'2024-11-06T13:54:29.407' AS DateTime), 0, N'090704')
GO
INSERT [dbo].[总成绩] ([总成绩ID], [类别], [总分数值], [更新时间], [创建时间], [考生ID]) VALUES (3, N'初试', 248.5, CAST(N'2024-11-06T14:52:31.417' AS DateTime), CAST(N'2024-11-06T14:52:31.417' AS DateTime), 2)
INSERT [dbo].[总成绩] ([总成绩ID], [类别], [总分数值], [更新时间], [创建时间], [考生ID]) VALUES (4, N'复试', 189.5, CAST(N'2024-11-06T14:52:31.417' AS DateTime), CAST(N'2024-11-06T14:52:31.417' AS DateTime), 2)
INSERT [dbo].[总成绩] ([总成绩ID], [类别], [总分数值], [更新时间], [创建时间], [考生ID]) VALUES (5, N'初试', 163.5, CAST(N'2024-11-06T14:55:09.270' AS DateTime), CAST(N'2024-11-06T14:55:09.270' AS DateTime), 3)
GO
INSERT [dbo].[作为] ([用户ID], [角色ID]) VALUES (1, 1)
INSERT [dbo].[作为] ([用户ID], [角色ID]) VALUES (2, 2)
INSERT [dbo].[作为] ([用户ID], [角色ID]) VALUES (4, 4)
GO
/****** Object:  Index [IX_包含3_招生目录ID_招生目录条目ID]    Script Date: 2024/12/19 11:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_包含3_招生目录ID_招生目录条目ID] ON [dbo].[包含3]
(
	[招生目录ID] ASC,
	[招生目录条目ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_从属_导师ID_学科ID]    Script Date: 2024/12/19 11:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_从属_导师ID_学科ID] ON [dbo].[从属]
(
	[导师ID] ASC,
	[学科ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_从属_学科ID_导师ID]    Script Date: 2024/12/19 11:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_从属_学科ID_导师ID] ON [dbo].[从属]
(
	[学科ID] ASC,
	[导师ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_导师_学院ID]    Script Date: 2024/12/19 11:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_导师_学院ID] ON [dbo].[导师]
(
	[学院ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_复试结果_考生ID]    Script Date: 2024/12/19 11:09:27 ******/
CREATE NONCLUSTERED INDEX [IX_复试结果_考生ID] ON [dbo].[复试结果]
(
	[考生ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__考生__532C17121E64335D]    Script Date: 2024/12/19 11:09:27 ******/
ALTER TABLE [dbo].[考生] ADD UNIQUE NONCLUSTERED 
(
	[身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__考生__532C17122E27B78A]    Script Date: 2024/12/19 11:09:27 ******/
ALTER TABLE [dbo].[考生] ADD UNIQUE NONCLUSTERED 
(
	[身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__考生__532C171287644FC3]    Script Date: 2024/12/19 11:09:27 ******/
ALTER TABLE [dbo].[考生] ADD UNIQUE NONCLUSTERED 
(
	[身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__考生__532C1712B648E633]    Script Date: 2024/12/19 11:09:27 ******/
ALTER TABLE [dbo].[考生] ADD UNIQUE NONCLUSTERED 
(
	[身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[复试志愿] ADD  DEFAULT (NULL) FOR [志愿状态]
GO
ALTER TABLE [dbo].[拥有] ADD  DEFAULT ('默认值') FOR [类型]
GO
ALTER TABLE [dbo].[用户] ADD  DEFAULT (getdate()) FOR [创建时间]
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[包含1]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[包含2]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[包含3]  WITH CHECK ADD FOREIGN KEY([招生目录ID])
REFERENCES [dbo].[招生目录] ([招生目录ID])
GO
ALTER TABLE [dbo].[包含3]  WITH CHECK ADD FOREIGN KEY([招生目录ID])
REFERENCES [dbo].[招生目录] ([招生目录ID])
GO
ALTER TABLE [dbo].[包含3]  WITH CHECK ADD FOREIGN KEY([招生目录ID])
REFERENCES [dbo].[招生目录] ([招生目录ID])
GO
ALTER TABLE [dbo].[包含3]  WITH CHECK ADD FOREIGN KEY([招生目录ID])
REFERENCES [dbo].[招生目录] ([招生目录ID])
GO
ALTER TABLE [dbo].[包含3]  WITH CHECK ADD  CONSTRAINT [FK__包含3__招生目录条目ID__09746778] FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[包含3] CHECK CONSTRAINT [FK__包含3__招生目录条目ID__09746778]
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[编制]  WITH CHECK ADD FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[成绩]  WITH CHECK ADD FOREIGN KEY([考试科目ID])
REFERENCES [dbo].[考试科目] ([考试科目ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[从属]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应1]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[对应2]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([最终导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([最终导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([最终导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD FOREIGN KEY([最终导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[获得]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[具有]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[具有]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[具有]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[具有]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[具有]  WITH CHECK ADD  CONSTRAINT [fk_具有_招生目录条目ID] FOREIGN KEY([招生目录条目ID])
REFERENCES [dbo].[招生目录条目] ([招生目录条目ID])
GO
ALTER TABLE [dbo].[具有] CHECK CONSTRAINT [fk_具有_招生目录条目ID]
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[确定]  WITH CHECK ADD FOREIGN KEY([复试结果ID])
REFERENCES [dbo].[复试结果] ([复试结果ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[属于]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[填报]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([导师ID])
REFERENCES [dbo].[导师] ([导师ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[选择]  WITH CHECK ADD FOREIGN KEY([志愿ID])
REFERENCES [dbo].[复试志愿] ([志愿ID])
GO
ALTER TABLE [dbo].[拥有]  WITH CHECK ADD  CONSTRAINT [FK_拥有_考生ID] FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[拥有] CHECK CONSTRAINT [FK_拥有_考生ID]
GO
ALTER TABLE [dbo].[拥有]  WITH CHECK ADD  CONSTRAINT [FK_拥有_总成绩ID] FOREIGN KEY([总成绩ID])
REFERENCES [dbo].[总成绩] ([总成绩ID])
GO
ALTER TABLE [dbo].[拥有] CHECK CONSTRAINT [FK_拥有_总成绩ID]
GO
ALTER TABLE [dbo].[用户]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[用户]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[用户]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[用户]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学科ID])
REFERENCES [dbo].[学科] ([学科ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD FOREIGN KEY([学院ID])
REFERENCES [dbo].[学院] ([学院ID])
GO
ALTER TABLE [dbo].[总成绩]  WITH CHECK ADD  CONSTRAINT [FK_总成绩_考生] FOREIGN KEY([考生ID])
REFERENCES [dbo].[考生] ([考生ID])
GO
ALTER TABLE [dbo].[总成绩] CHECK CONSTRAINT [FK_总成绩_考生]
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([角色ID])
REFERENCES [dbo].[角色] ([角色ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[作为]  WITH CHECK ADD FOREIGN KEY([用户ID])
REFERENCES [dbo].[用户] ([用户ID])
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([审核状态]='未通过' OR [审核状态]='正在进行' OR [审核状态]='已通过'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([审核状态]='未通过' OR [审核状态]='正在进行' OR [审核状态]='已通过'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([审核状态]='未通过' OR [审核状态]='正在进行' OR [审核状态]='已通过'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([审核状态]='未通过' OR [审核状态]='正在进行' OR [审核状态]='已通过'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([职称]='讲师' OR [职称]='教授' OR [职称]='副教授'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([职称]='讲师' OR [职称]='教授' OR [职称]='副教授'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([职称]='讲师' OR [职称]='教授' OR [职称]='副教授'))
GO
ALTER TABLE [dbo].[导师]  WITH CHECK ADD CHECK  (([职称]='讲师' OR [职称]='教授' OR [职称]='副教授'))
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD CHECK  (([录取状态]='未录取' OR [录取状态]='待审核' OR [录取状态]='已录取'))
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD CHECK  (([录取状态]='未录取' OR [录取状态]='待审核' OR [录取状态]='已录取'))
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD CHECK  (([录取状态]='未录取' OR [录取状态]='待审核' OR [录取状态]='已录取'))
GO
ALTER TABLE [dbo].[复试结果]  WITH CHECK ADD CHECK  (([录取状态]='未录取' OR [录取状态]='待审核' OR [录取状态]='已录取'))
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD CHECK  (([志愿顺序]=(3) OR [志愿顺序]=(2) OR [志愿顺序]=(1)))
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD CHECK  (([志愿顺序]=(3) OR [志愿顺序]=(2) OR [志愿顺序]=(1)))
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD CHECK  (([志愿顺序]=(3) OR [志愿顺序]=(2) OR [志愿顺序]=(1)))
GO
ALTER TABLE [dbo].[复试志愿]  WITH CHECK ADD CHECK  (([志愿顺序]=(3) OR [志愿顺序]=(2) OR [志愿顺序]=(1)))
GO
ALTER TABLE [dbo].[角色]  WITH CHECK ADD CHECK  (([角色权限]>=(0) AND [角色权限]<=(15)))
GO
ALTER TABLE [dbo].[角色]  WITH CHECK ADD CHECK  (([角色权限]>=(0) AND [角色权限]<=(15)))
GO
ALTER TABLE [dbo].[角色]  WITH CHECK ADD CHECK  (([角色权限]>=(0) AND [角色权限]<=(15)))
GO
ALTER TABLE [dbo].[角色]  WITH CHECK ADD CHECK  (([角色权限]>=(0) AND [角色权限]<=(15)))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([本科毕业学校类型]='开放大学' OR [本科毕业学校类型]='成人教育学院' OR [本科毕业学校类型]='独立学院' OR [本科毕业学校类型]='专科院校' OR [本科毕业学校类型]='普通本科大学'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([本科毕业学校类型]='开放大学' OR [本科毕业学校类型]='成人教育学院' OR [本科毕业学校类型]='独立学院' OR [本科毕业学校类型]='专科院校' OR [本科毕业学校类型]='普通本科大学'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([本科毕业学校类型]='开放大学' OR [本科毕业学校类型]='成人教育学院' OR [本科毕业学校类型]='独立学院' OR [本科毕业学校类型]='专科院校' OR [本科毕业学校类型]='普通本科大学'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([本科毕业学校类型]='开放大学' OR [本科毕业学校类型]='成人教育学院' OR [本科毕业学校类型]='独立学院' OR [本科毕业学校类型]='专科院校' OR [本科毕业学校类型]='普通本科大学'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([考生类别]='非定向考生' OR [考生类别]='定向生' OR [考生类别]='同等学力' OR [考生类别]='往届生' OR [考生类别]='应届生'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([考生类别]='非定向考生' OR [考生类别]='定向生' OR [考生类别]='同等学力' OR [考生类别]='往届生' OR [考生类别]='应届生'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([考生类别]='非定向考生' OR [考生类别]='定向生' OR [考生类别]='同等学力' OR [考生类别]='往届生' OR [考生类别]='应届生'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([考生类别]='非定向考生' OR [考生类别]='定向生' OR [考生类别]='同等学力' OR [考生类别]='往届生' OR [考生类别]='应届生'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[考生]  WITH CHECK ADD CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[考试科目]  WITH CHECK ADD CHECK  (([类别]='复试' OR [类别]='初试'))
GO
ALTER TABLE [dbo].[考试科目]  WITH CHECK ADD CHECK  (([类别]='复试' OR [类别]='初试'))
GO
ALTER TABLE [dbo].[考试科目]  WITH CHECK ADD CHECK  (([类别]='复试' OR [类别]='初试'))
GO
ALTER TABLE [dbo].[考试科目]  WITH CHECK ADD CHECK  (([类别]='复试' OR [类别]='初试'))
GO
ALTER TABLE [dbo].[学科]  WITH CHECK ADD CHECK  (([学科等级]='二级学科' OR [学科等级]='一级学科'))
GO
ALTER TABLE [dbo].[学科]  WITH CHECK ADD CHECK  (([学科等级]='二级学科' OR [学科等级]='一级学科'))
GO
ALTER TABLE [dbo].[学科]  WITH CHECK ADD CHECK  (([学科等级]='二级学科' OR [学科等级]='一级学科'))
GO
ALTER TABLE [dbo].[学科]  WITH CHECK ADD CHECK  (([学科等级]='二级学科' OR [学科等级]='一级学科'))
GO
ALTER TABLE [dbo].[招生目录]  WITH CHECK ADD CHECK  (([招生年度]>=(1900) AND [招生年度]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录]  WITH CHECK ADD CHECK  (([招生年度]>=(1900) AND [招生年度]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录]  WITH CHECK ADD CHECK  (([招生年度]>=(1900) AND [招生年度]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录]  WITH CHECK ADD CHECK  (([招生年度]>=(1900) AND [招生年度]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD CHECK  (([年份]>=(1900) AND [年份]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD CHECK  (([年份]>=(1900) AND [年份]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD CHECK  (([年份]>=(1900) AND [年份]<=(2100)))
GO
ALTER TABLE [dbo].[招生目录条目]  WITH CHECK ADD CHECK  (([年份]>=(1900) AND [年份]<=(2100)))
GO
/****** Object:  StoredProcedure [dbo].[sp_导师操作]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_导师操作]
    @操作类型 NVARCHAR(20),         -- 操作类型，'更新简介' 或 '确认学生' 或 '查看选择结果'
    @导师ID INT,                     -- 导师ID
    @简介 VARCHAR(1000) = NULL,      -- 导师简介，更新简介时使用
    @考生ID INT = NULL               -- 考生ID，确认选择时使用
AS
BEGIN
    -- 判断操作类型
    IF @操作类型 = '更新简介'
    BEGIN
        -- 更新导师简介
        UPDATE 导师
        SET 简介 = @简介,
            更新时间 = GETDATE()
        WHERE 导师ID = @导师ID;
        
        PRINT '导师简介已更新';
    END

    ELSE IF @操作类型 = '确认学生'
    BEGIN
        -- 确认选择的学生，将复试志愿的志愿ID插入到选择表中
        IF EXISTS (SELECT 1 FROM 复试志愿 WHERE 导师ID = @导师ID AND 考生ID = @考生ID)
        BEGIN
            INSERT INTO 选择 (志愿ID, 导师ID)
            SELECT 志愿ID, 导师ID 
            FROM 复试志愿
            WHERE 导师ID = @导师ID AND 考生ID = @考生ID;
            
            PRINT '学生已确认选择';
        END
        ELSE
        BEGIN
            PRINT '该学生未选择此导师为志愿';
        END
    END

    ELSE IF @操作类型 = '查看选择结果'
    BEGIN
        -- 查看导师的所有确认选择结果，包括考生信息和录取状态
        SELECT r.志愿ID, 
               c.考生ID, 
               c.性别, 
               c.生源地, 
               r.志愿顺序, 
               fr.录取状态, 
               fr.综合评价 
        FROM 复试志愿 r
        JOIN 考生 c ON r.考生ID = c.考生ID
        LEFT JOIN 复试结果 fr ON fr.考生ID = c.考生ID AND fr.最终导师ID = @导师ID
        WHERE r.导师ID = @导师ID;
    END
    ELSE
    BEGIN
        PRINT '无效的操作类型';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_监督成员]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_监督成员]
    @监督成员ID INT,        -- 当前用户ID，确保具有监督成员权限
    @考生ID INT              -- 考生ID，用于查看特定考生的过程
AS
BEGIN
    -- 检查用户是否为监督成员
    DECLARE @角色名称 VARCHAR(20);

    -- 获取当前用户的角色名称
    SELECT @角色名称 = 角色名称
    FROM 作为
    JOIN 角色 ON 作为.角色ID = 角色.角色ID
    WHERE 作为.用户ID = @监督成员ID;

    -- 确认用户角色为监督成员后执行操作
    IF @角色名称 = '监督成员'
    BEGIN
        -- 查询考生的复试和录取信息全过程
        SELECT 
            考生.考生ID, 
            考生.考生类别,
            复试志愿.导师ID,  
            复试志愿.志愿顺序, 
            复试志愿.是否接受方向调整, 
            复试结果.录取状态, 
            复试结果.综合评价,
            复试结果.更新时间 AS 最后更新时间
        FROM 考生
        LEFT JOIN 复试志愿 ON 考生.考生ID = 复试志愿.考生ID
        LEFT JOIN 导师 ON 复试志愿.导师ID = 导师.导师ID
        LEFT JOIN 复试结果 ON 考生.考生ID = 复试结果.考生ID
        WHERE 考生.考生ID = @考生ID;

        PRINT '考生选择全过程已显示';
    END
    ELSE
    BEGIN
        -- 如果用户角色不是监督成员，返回错误信息
        PRINT '权限不足，只有监督成员可以执行此操作';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_考生业务处理]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_考生业务处理]
    @考生ID INT,                   -- 考生ID
    @业务类型 VARCHAR(50),          -- 业务类型: '填报志愿' 或 '查看录取结果'
	@志愿ID INT,
    @导师ID INT = NULL,             -- 志愿导师ID (仅在填报志愿时使用)
    @学科ID VARCHAR(50) = NULL,     -- 所报学科ID (仅在填报志愿时使用)
    @志愿顺序 INT = NULL,           -- 志愿顺序 (仅在填报志愿时使用)
    @是否接受方向调整 BIT = NULL    -- 是否接受方向调整 (仅在填报志愿时使用)
AS
BEGIN
    -- 判断业务类型
    IF @业务类型 = '填报志愿'
    BEGIN
        -- 检查考生是否已提交该志愿信息，避免重复提交
        IF EXISTS (SELECT 1 FROM 复试志愿 WHERE 考生ID = @考生ID AND 导师ID = @导师ID)
        BEGIN
            PRINT '已提交志愿信息，无法重复填报';
            RETURN;
        END

        -- 插入考生志愿信息
         -- 插入考生志愿信息
        INSERT INTO 复试志愿 (志愿ID, 导师ID, 考生ID,学科ID, 志愿顺序, 是否接受方向调整, 创建时间, 更新时间)
        VALUES (@志愿ID,@导师ID, @考生ID, @学科ID, @志愿顺序, @是否接受方向调整, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);


        PRINT '志愿信息已成功提交';
    END
    ELSE IF @业务类型 = '查看录取结果'
    BEGIN
        -- 查询考生的复试和录取结果
        SELECT 
            考生.考生ID AS 考生ID,
            复试志愿.导师ID, 
            导师.导师ID AS 导师ID, 
            复试志愿.学科ID,
            复试志愿.志愿顺序,
            复试结果.录取状态, 
            复试结果.综合评价, 
            复试结果.更新时间 AS 录取更新时间
        FROM 考生
        LEFT JOIN 复试志愿 ON 考生.考生ID = 复试志愿.考生ID
        LEFT JOIN 导师 ON 复试志愿.导师ID = 导师.导师ID
        LEFT JOIN 复试结果 ON 考生.考生ID = 复试结果.考生ID
        WHERE 考生.考生ID = @考生ID;

        PRINT '录取结果已显示';
    END
    ELSE
    BEGIN
        -- 错误处理：无效的业务类型
        PRINT '无效的业务类型，请指定 "填报志愿" 或 "查看录取结果"';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_确定学科研究方向]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_确定学科研究方向]
    @用户ID INT,                     -- 当前用户ID，输入参数
    @学科ID VARCHAR(50),              -- 学科ID，修改为VARCHAR类型
    @研究方向名称 VARCHAR(100),      -- 新的研究方向名称，输入参数
    @描述 VARCHAR(500)               -- 研究方向的描述，输入参数
AS
BEGIN
    -- 声明角色名称变量
    DECLARE @角色名称 VARCHAR(20);
    
    -- 获取当前用户的角色名称
    SELECT @角色名称 = 角色名称
    FROM 作为
    JOIN 角色 ON 作为.角色ID = 角色.角色ID
    WHERE 作为.用户ID = @用户ID;

    -- 判断当前用户是否是学科负责人
    IF @角色名称 = '学科负责人'
    BEGIN
        -- 如果是学科负责人，则进行学科研究方向的更新操作
        IF EXISTS (SELECT 1 FROM 学科 WHERE 学科ID = @学科ID)
        BEGIN
            -- 如果该学科存在，更新学科研究方向
            UPDATE 学科
            SET 学科研究方向 = @研究方向名称, 
                学科概述 = @描述,         -- 也可以更新学科概述或其他字段
                更新时间 = CURRENT_TIMESTAMP
            WHERE 学科ID = @学科ID;
        END
        ELSE
        BEGIN
            -- 如果该学科ID不存在，则返回错误信息
            PRINT '该学科ID不存在，请检查学科ID';
        END
    END
    ELSE
    BEGIN
        -- 如果不是学科负责人，则返回权限不足的提示
        PRINT '权限不足，只有学科负责人可以执行此操作';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_审议考生选择结果]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_审议考生选择结果]
    @主管领导ID INT,          -- 当前用户ID，确保具有主管领导权限
    @考生ID INT,                -- 考生ID
    @复试结果ID INT,            -- 复试结果ID，用于指定审核记录
    @审核状态 VARCHAR(50),      -- 审核状态，例如 '已确认' 或 '未通过'
    @审核意见 NVARCHAR(200) = NULL  -- 审核意见，可选字段，提供审核说明
AS
BEGIN
    -- 检查用户是否为研究生主管领导
    DECLARE @角色名称 VARCHAR(20);

    -- 获取当前用户的角色名称
    SELECT @角色名称 = 角色名称
    FROM 作为
    JOIN 角色 ON 作为.角色ID = 角色.角色ID
    WHERE 作为.用户ID = @主管领导ID;

    -- 确认用户角色为研究生主管领导后执行操作
    IF @角色名称 = '研究生主管领导'
    BEGIN
        -- 更新复试结果，设置审核状态和审核意见
        UPDATE 复试结果
        SET 录取状态 = @审核状态, 
            综合评价 = @审核意见,
            更新时间 = CURRENT_TIMESTAMP
        WHERE 考生ID = @考生ID 
          AND 复试结果ID = @复试结果ID;

        -- 若审核通过，则将最终状态设置为“已录取”，否则视情况修改为其他状态
        IF @审核状态 = '已录取'
        BEGIN
            PRINT '复试审核已确认，录取状态已更新为已录取。';
        END
        ELSE
        BEGIN
            PRINT '复试审核未通过，已记录审核意见。';
        END
    END
    ELSE
    BEGIN
        -- 如果用户角色不是研究生主管领导，返回错误信息
        PRINT '权限不足，只有研究生主管领导可以执行此操作';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_推动导师学生志愿选择过程]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_推动导师学生志愿选择过程]
    @用户ID INT,  -- 当前用户ID，输入参数
    @复试结果ID INT  -- 复试结果ID，指定需要更新的复试结果
AS
BEGIN
    -- 检查用户是否为学科秘书
    DECLARE @角色名称 VARCHAR(20);

    -- 获取当前用户的角色名称
    SELECT @角色名称 = 角色名称
    FROM 作为
    JOIN 角色 ON 作为.角色ID = 角色.角色ID
    WHERE 作为.用户ID = @用户ID;

    -- 如果角色是学科秘书，则执行更新操作
    IF @角色名称 = '学科秘书'
    BEGIN
        -- 更新复试结果状态为待确认
        UPDATE 复试结果
        SET 待确认=1,  -- 将录取状态从其他状态改为待确认
            更新时间 = CURRENT_TIMESTAMP  -- 更新时间为当前时间
        WHERE 复试结果ID = @复试结果ID
            AND 待确认 IS NULL;  -- 只更新状态为 NULL 的记录
    END
    ELSE
    BEGIN
        -- 如果不是学科秘书，返回错误信息
        PRINT '权限不足，只有学科秘书可以执行此操作';
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_研究生管理秘书]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_研究生管理秘书]
    @用户ID INT,  -- 当前用户ID
    @考生ID INT,  -- 考生ID
	@考试地点 VARCHAR(50),
	@科目名称 VARCHAR(50),
	@复试志愿ID INT,
    @考试科目ID INT,  -- 考试科目ID（用于录入初试信息）
    @初试成绩 DECIMAL(10, 2),  -- 初试成绩
	@复试成绩 DECIMAL(10, 2),  -- 复试成绩
    @导师ID INT,  -- 导师ID（用于录入复试信息）
    @学科ID VARCHAR(50),  -- 学科ID（用于录入复试信息）
    @志愿顺序 INT,  -- 复试志愿顺序
    @是否接受方向调整 BIT,  -- 是否接受方向调整
    @复试结果ID INT = NULL,  -- 复试结果ID（可选，若有复试结果，则进行审核和发布）
    @审核状态 VARCHAR(50) = '待确认',  -- 默认审核状态，若复试结果已确认则可更新
    @业务类型 VARCHAR(50)  -- 业务类型：'录入初试信息' 或 '录入复试信息'
AS
BEGIN
    -- 检查用户是否为研究生管理秘书
    DECLARE @角色名称 VARCHAR(20);

    -- 获取当前用户的角色名称
    SELECT @角色名称 = 角色名称
    FROM 作为
    JOIN 角色 ON 作为.角色ID = 角色.角色ID
    WHERE 作为.用户ID = @用户ID;

    -- 如果角色是研究生管理秘书，则执行操作
    IF @角色名称 = '研究生管理秘书'
    BEGIN
        -- 根据业务类型判断执行不同的操作
        IF @业务类型 = '录入初试信息'
        BEGIN
            -- 1. 录入考生初试信息
            

            -- 2. 更新考试科目的类别为 '初试'
            INSERT INTO 考试科目 (考试科目ID, 类别, 名称, 考试时间, 考试地点)
            VALUES (@考试科目ID, '初试', @科目名称, CURRENT_TIMESTAMP, @考试地点);
			INSERT INTO 成绩 (考生ID, 考试科目ID, 数值)
            VALUES (@考生ID, @考试科目ID, @初试成绩);

            PRINT '初试信息录入成功';

        END
        ELSE IF @业务类型 = '录入复试信息'
        BEGIN
            -- 1. 录入考生复试信息
			

            -- 2. 更新考试科目的类别为 '初试'
            INSERT INTO 考试科目 (考试科目ID, 类别, 名称, 考试时间, 考试地点)
            VALUES (@考试科目ID, '复试', @科目名称, CURRENT_TIMESTAMP, @考试地点);
			INSERT INTO 成绩 (考生ID, 考试科目ID, 数值)
            VALUES (@考生ID, @考试科目ID, @复试成绩);
            INSERT INTO 复试志愿 (志愿ID,考生ID, 导师ID, 学科ID, 志愿顺序, 是否接受方向调整, 更新时间, 创建时间)
            VALUES (@复试志愿ID,@考生ID, @导师ID, @学科ID, @志愿顺序, @是否接受方向调整, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);

            PRINT '复试信息录入成功';
        END

        -- 3. 收集并审核复试信息（如果复试结果ID不为NULL，进行审核）
        IF @复试结果ID IS NOT NULL
        BEGIN
            -- 获取并审核复试结果
            UPDATE 复试结果
            SET 录取状态 = @审核状态, 
                更新时间 = CURRENT_TIMESTAMP
            WHERE 复试结果ID = @复试结果ID
              AND 录取状态 = '待确认';
        END;

        -- 4. 发布录取公示结果（如果复试结果已确认）
        IF @审核状态 = '已确认'
        BEGIN
            UPDATE 复试结果
            SET 录取状态 = '已录取', 
                更新时间 = CURRENT_TIMESTAMP
            WHERE 复试结果ID = @复试结果ID
              AND 录取状态 = '待审核';

            -- 可选择向外部系统或相关人员发布录取信息
            PRINT '录取公示已发布';
        END;

        PRINT '操作已成功完成';
    END
    ELSE
    BEGIN
        -- 如果用户角色不是研究生管理秘书，返回错误信息
        PRINT '权限不足，只有研究生管理秘书可以执行此操作';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_用户注册]    Script Date: 2024/12/19 11:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_用户注册] 
    @用户名 NVARCHAR(20),
    @角色ID INT,
    @邮箱 NVARCHAR(50),
    @手机号 NVARCHAR(50),
    @姓名 NVARCHAR(20),
    @密码 NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @用户ID INT;

    -- 插入用户信息到用户表
    INSERT INTO 用户 (用户名, 创建时间, 角色ID, 邮箱, 手机号, 姓名, 密码)
    VALUES (@用户名, GETDATE(), @角色ID, @邮箱, @手机号, @姓名, @密码);

    -- 获取新插入用户的用户ID
    SET @用户ID = SCOPE_IDENTITY();

    -- 插入角色和用户的关系到作为表
    INSERT INTO 作为 (用户ID, 角色ID)
    VALUES (@用户ID, @角色ID);

END;
GO
